.dosbox-container {
    text-align: center;
    margin: auto;
    padding: 10px;
    height: 600px;
    width: auto;
}

#dosbox {
    margin-top: 9%;
}

body {
    background-color: black;
}

canvas {
    cursor: none;
    width: 900px;
    height: 600px;
}
